<router-outlet></router-outlet>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Online Store</h3>
      <img src="https://raw.githubusercontent.com/Pranita17/demoangular11/master/src/assests/images/photo-1542744095-291d1f67b221.jpeg">
      
      <p class="text">Statistics show that in 2012, Asia-Pacific increased their international sales over 30% giving them over $433 billion in revenue. That is a $69 billion difference between the U.S. revenue of $364.66 billion. It is estimated that Asia-Pacific will increase by another 30% in the year 2013 putting them ahead by more than one-third of all global ecommerce sales.[needs update] The largest online shopping day in the world is Singles Day, with sales just in Alibaba's sites at US$9.3 billion in 2014.</p>
      </div>
    
    <div class="col-sm-6">
       <h1>Join Us</h1>
      <h2>Current Requirements </h2>
      <table class="table table-light table-striped">
     
       <thead class="thead-dark"> 
  
      <tr>
        <th>Job Role</th>
        <th>Education</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Delivery Manager</td>
        <td>Graduate</td>
        <td>United Kingdom</td>
         <td><a href="#">Apply</a></td>
      </tr>
      <tr>
        <td>Sales Manager</td>
        <td>Graduate</td>
        <td>New York</td>
         <td><a href="">Apply</a></td>
      </tr>
      <tr>
        <td>Marketing Executive</td>
        <td>Graduate</td>
        <td>United State</td>
         <td><a href="">Apply</a></td>
      </tr>
      <tr>
        <td>Department Lead</td>
        <td>Graduate</td>
        <td>Fresno</td>
         <td><a href="">Apply</a></td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
</div>

<div class="jumbotron">
  <h2>We're Looking For Talented Marketers</h2> 
  <p>Enter your Email address to join with us</p> 
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Join</button>
      </div>
    </div>
  </form>
</div>
