 table
{
 table-layout: auto;
 border: 1px solid black;
 font-size: 11px;
 overflow-x:auto;
}
.text
{
  font-size: 16px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
}
img{
  width: 100%;
  height: auto;
}
.jumbotron {
    background-color: #d47a5fc0;
    color: #fff;
  }
/* @media only screen and (min-width: 400px) {
    .col-sm-6 table{
      overflow-x:auto;
    }
  } */

/* @media only screen and (min-width:1200px) {
  .col-sm-4 table{
    width:100%; 
}
}  */
 

 @media only screen and (min-width: 400px) {
     table{
      overflow-x:auto;
    }
  }

