<router-outlet></router-outlet>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="style.css">
    
</head>
<body>

<section class="bgimage">
  <div class="container">
    <div class="row">

      <div>
          <h1 id="about-head">Online shopping </h1>
        <h2>We used to build civilizations. Now we build shopping malls.   </h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="about-text">
       
        <br><br>
        <p class="about-para">

          “Delivering excitement, innovation and freshness, Kapdaclick is an e-commerce channel that promises to offer an exquisite range of lifestyle products. Kapdaclick brings customers the latest fashionable clothing, accessories, home decor selections and style of living assortment. Not just grown-ups, there's an abundance of collection for kids as well. We strive to make your shopping hassle-free with our - authenticated prices and timely delivery services with heart winning offers- bringing you a user-friendly experience when looking for your favorite outfit. Our designs, cleverly inspired by a perfect blend of Indian heritage and international flair, come alive through our products, which are ideal additions to your fashion, home, office, or for gifting. Give us a chance to be your instant online fashion destination.kapdaclick.com” ― kapdaclick
        </p>
      </div>
    </div>
  </div>
</section>
<br>
<br>

  <div class="container">
  <div class="card-deck">
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text">“Live with a modern look personality with soclicheclothing that offers women dresses online in large discounts prices and with the whole sale also.”</p>
        <p class="card-text">― So Cliché Clothing</p>
        </div>
    </div>
    <div class="card bg-secondary">
      <div class="card-body text-center">
        <p class="card-text">“Get Latest Online Gadgets at Universal Gadgets where you can get latest designs of phone covers, screen protector, selfie sticks and much more gaming equipment at affordable prices.”</p>

        <p class="card-text">― Universal Gadgets</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">“Use Secure Sites: It is proper netiquette to use secure websites whenever possible. NetworkEtiquette.net”</p>
        <p class="card-text">― David Chiles, The Principles Of Netiquette</p>
      </div>
    </div>
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">“Alibaba was created when Jack Ma was rejected.”</p>
        <p class="card-text">― M.Rehan Behleem</p>
      </div>
    </div>  
  </div>
</div>
<br> 
</body>



