body {
    margin: 0;
    font-family: sans-serif;
}

/* #p1
{
  font-size: 18px;
  font-family: Oswald sans-serif;
  text-decoration-color: #d47a5fc0;
  position: absolute;
  bottom: 0;
  left: 0;
} */

/* h1
{
  font-size: 50px;  
} */
.about-para
{
  font-family: 'Roboto Slab', serif;
  font-size:30px;
  color: whitesmoke;  
  padding-left: 70px;
  padding-right: 90px;
}

h1 {
    padding-top: 30px;
     font-family: 'Roboto Slab', serif;
     font-size: 50px;
  color: whitesmoke;
}

@media(min-width: 300px){

 /* .about-para
  {
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
    margin:0;
  }  */
   .bgimage {
  width:100%;
  height:100%;
  background: url('https://raw.githubusercontent.com/Pranita17/demoangular11/master/src/assests/images/photo-1509101943550-318443f4400f.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  
} 
  about-head,h2
  {
     font-family: 'Roboto Slab', serif;
  
  color: whitesmoke;
  overflow-inline: auto;
  }
}

