<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shopping Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style\style.css">
  
</head>
<body>
<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h4 class="navbar-brand" href="#">Online Store</h4>
    </div>
      <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="" routerLinkActive="activeClass">Home</a></li>
      <li><a routerLink="about" routerLinkActive="activeClass">About</a></li>
      <li><a routerLink="careers" routerLinkActive="activeClass">Careers</a></li>
      </ul>
    </div>
</nav>	 -->

</body>
<router-outlet></router-outlet> 
<!-- Footer -->
<div class="footer">

  <div style="background-color: #000000;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Online Shopping</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text">Whoever said that money can't buy happiness simply didn't know where to go shopping.” ... </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Designer Dresses</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Winter Wear</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Electronics Accessories </a>
        </p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Follow Us</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Facebook</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Twitter</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Instagram</a>
        </p>
             </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Pune, India</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> travelled@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 021 197 122 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 91 9890711400</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
     <a href="https://mdbootstrap.com/education/bootstrap/"> OnlineShopping.com</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer -->




</html>


